prefix = "cops"                                    # Unique Name for deployment
region = "us-east"                                # Default GCloud Region
zones = ["us-east1-c", "us-east1-b", "us-east1-a"] # Deafult GCloud zones
project = "ecs-pcf-on-gce-2016"                    # Existing Project Identifier
jumpbox-image-url = "ubuntu-1604-xenial-v20170328" # Image Name for GCloud managed images
jumpbox-machine-type= "n1-standard-1"              # GCloud Machine type
credentials-file="./credentials.json"              # Path to local files containing GCloud Credentials
