# Credentials are populated by the jumpbox_infra.sh script
# using values inject from Concourse/Vault.
# aws_access_key = ""
# aws_secret_key = ""
# aws_key_name = ""
prefix = ""
aws_region = "us-east-1"
az1 = "us-east-1a"
vpc_cidr= "172.28.0.0/22"
public_subnet_cidr = "172.28.0.0/24"
private_subnet_cidr = "172.28.1.0/24"
nat_ip = "172.28.0.4"
jumpbox_ami = "ami-cd0f5cb6"
jumpbox_private_ip = "172.28.0.5"
